@import "tailwindcss";

@theme {
  --color-primary: #ef4444;

  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-bebas-neue: "Bebas Neue", serif;

  --spacing-mobile-screen: calc(100vh - 4rem);
  --spacing-desktop-screen: calc(100vh - 5.25rem);
}


@layer base {

  html,
  body {
    @apply bg-gray-950 text-white;

  }

  h1,
  h2 {
    font-family: var(--font-bebas-neue);
  }

  section {
    @apply border-b border-gray-500 px-4 md:px-16;
  }
}

@layer utilities {
  .container-full {
    @apply px-4 md:px-16;
  }
}