@import "tailwindcss";

@theme {
  --color-primary: #ef4444;

  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-bebas-neue: "Bebas Neue", serif;

  --spacing-mobile-screen: calc(100vh - 4rem);
  --spacing-desktop-screen: calc(100vh - 5.25rem);
}


@layer base {

  html,
  body {
    @apply bg-neutral-950 text-white;

  }

  h1,
  h2 {
    font-family: var(--font-bebas-neue);
  }

  section {
    @apply border-b border-neutral-500 px-4 md:px-16;
  }
}

@layer utilities {
  @keyframes eclipse {
    0% {
      transform: translateX(110%);
    }

    100% {
      transform: translateX(-110%);
    }
  }

  .eclipse {
    @apply relative overflow-hidden flex w-fit h-fit items-center justify-center rounded-full p-1;

    * {
      @apply z-[1];
    }

    &::before {
      content: "";
      @apply absolute inset-0 blur-[1px] bg-white translate-x-1/2;
      background-image: radial-gradient(circle at 50% 50%, transparent, #000),
        linear-gradient(#fff, #fff);
      animation: eclipse 2s linear infinite;
    }
  }

  .container-full {
    @apply px-4 md:px-16;
  }
}